@model IEnumerable<MunicipalidadesMVC7.Models.Municipalidad>

@{
    ViewData["Title"] = "Municipalidades";
}

<style>
    .municipalidad-item {
        list-style-type: none;
        margin-left: 20px; /* Ajusta el margen izquierdo según tus necesidades */
    }
</style>
<nav class="navbar navbar-light bg-white border-top box-shadow mb-3">
    <div class="container-fluid">
        <!-- Barra de búsqueda -->
        <form class="form-inline" id="searchForm">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar Municipalidades" aria-label="Buscar" id="searchInput">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchButton">Buscar</button>
        </form>
    </div>
</nav>
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <h2>MUNICIPALIDADES</h2>
    </div>
</div>
<div class="col-xs-12">
    <!-- Barra de búsqueda inferior -->
 

    <div class="row">
        <div class="col-sm-12">
            <h4>&nbsp;</h4>
        </div>
        <div class="col-xs-12">
            <ul>
                @foreach (var municipalidad in Model)
                {
                    <li class="municipalidad-item">
                        <a href="@Url.Action("Login", "Home", new { municipalidadId = municipalidad.Id })">
                            @municipalidad.Nombre
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyOz30DE5f5VAW+3lKkh5A8NqcwrO9aL8" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        // Captura del evento de clic en el botón de búsqueda y evento de teclado en el campo de búsqueda
        $("#searchButton, #searchInput").on('click keypress', function (e) {
            // Verifica si la tecla presionada es "Enter"
            if ((e.which === 13 && e.type === 'keypress') || e.type === 'click') {
                // Previene el envío del formulario (esto evita la recarga de la página)
                e.preventDefault();

                // Obtiene el valor del campo de búsqueda
                var searchTerm = $("#searchInput").val().toLowerCase();

                // Oculta o muestra las municipalidades según el término de búsqueda
                $(".municipalidad-item").each(function () {
                    var municipalidadNombre = $(this).text().toLowerCase();
                    if (municipalidadNombre.includes(searchTerm)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    });

</script>

